/* sevan */
body{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/images/cc-dremina.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

#webcoderskull{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }
  
  canvas{
    height:100vh;
    /* background-color:#16a085; */
  }
  #webcoderskull h1{
  letter-spacing: 5px;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  }
  
  /* Tambahkan di <style> atau file CSS terpisah */
  
  /* Particles background - paling belakang */
  #particles {
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    z-index: -1 !important; /* PENTING: z-index negatif agar di belakang semua */
  }
  
  #particles canvas {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
  }
  
  
  /* Navbar tetap di atas */
  .navbar {
    /* Garis tipis di bawah */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5);  */
    /* position: relative; */
    z-index: 100;
    background-color: rgba(28, 121, 202, 0.5) !important;
    backdrop-filter: blur(10px);
  }
  
  /* Container konten */
  .main-content {
    min-height: 100vh;
    /* display: flex; */
    /* align-items: start; */
    padding-bottom: 3rem;
    /* padding-top: 50px;  */
  }